<%=render 'public/header' %>
<h2>投稿詳細</h2>
<%= link_to customer_path(@customer.id) do %>
<%=image_tag @customer.get_profile_image(50,50) %>
<% end %>
<%=@customer.last_name %>
<%=@customer.first_name %>
<div>
  <%=image_tag @post.get_image(100,100) %>
  <p>タイトル:<%=@post.title %></p>
  <p>ジャンル:<%=@post.genre.name %></p>
  <p>作り方:<%=@post.article %></p>
</div>

 <div>
  <p>コメント件数：<%= @post.comments.count %></p>
  <%= form_with model: [@post, @comment], url:post_comments_path(@post.id) do |f| %>
    <%= f.text_area :body, rows: '5', placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>

<div>
  <% @post.comments.each do |comment| %>
    <p><%= image_tag comment.customer.get_profile_image(30,30) %></p>
    <%= comment.customer.last_name %>
    <%= comment.customer.first_name %>
    <%= comment.created_at.strftime('%Y/%m/%d') %>
    <%=comment.body %>
  <% end %>
</div>
