
<% if customers.exists? %>

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <h5><%=@customers_count %>人</h5>
        <% customers.each do |customer| %>
        <%# unless @customer.is_deleted==true %>
          <tr>
            <td>
              <%= image_tag customer.get_profile_image(50, 50) %>
            </td>
            <td>
              <%= link_to customer_path(customer.id) do %>
              <%= customer.last_name %><%= customer.first_name %>
              <% end %>
            </td>
            <td>
              <%= link_to customer_followings_path(customer.id) do %>
              フォロー数: <%= customer.followings.count %>
              <% end %>
            </td>
            <td>
              <%= link_to customer_followers_path(customer.id) do %>
              フォロワー数: <%= customer.followers.count %>
              <% end %>
            </td>
          </tr>
        <%# end %>
        <% end %>
      </tbody>
    </table>
<% else %>
  <p>ユーザーはいません</p>
<% end %>


