
<% if customers.exists? %>
  <% customers.each do |customer| %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <%= image_tag customer.get_profile_image(50, 50) %>
          </td>
          <td>
            <%= link_to customer_path(customer.id) do %>
            <%= customer.last_name %><%= customer.first_name %>
            <% end %>
          </td>
          <td>
            <%= link_to customer_followings_path(customer.id) do %>
            フォロー数: <%= customer.followings.count %>
            <% end %>
          </td>
          <td>
            <%= link_to customer_followers_path(customer.id) do %>
            フォロワー数: <%= customer.followers.count %>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
  <% end %>
<% else %>
  <p>ユーザーはいません</p>
<% end %>


