<%=render 'admin/header' %>
<h2>投稿詳細</h2>
<%= link_to admin_customer_path(@customer.id) do %>
<%=image_tag @customer.get_profile_image(50,50) %>
<% end %>
<%=@customer.last_name %>
<%=@customer.first_name %>
<div>
  <% if @post.images.attached? %>
    <% @post.images.each do |image| %>
      <%= image_tag image.variant(resize_to_limit: [100, 100]).processed %>
    <% end %>
  <% end %>
  <p>タイトル:<%=@post.title %></p>
  <p>ジャンル:<%=@post.genre.name %></p>
  <p>作り方:<%=@post.article %></p>
</div>

<div>
  <% @post.comments.each do |comment| %>
    <p><%= image_tag comment.customer.get_profile_image(30,30) %></p>
    <%= comment.customer.last_name %>
    <%= comment.customer.first_name %>
    <%= comment.created_at.strftime('%Y/%m/%d') %>
    <%=comment.body %>
    <%= link_to "削除", admin_post_comment_path(comment.post_id, comment.id), method: :delete %>
  <% end %>
</div>

